{% include base_path %}
{% assign publication = include.post | default: post %}

{% if publication.header.teaser %}
  {% assign teaser = publication.header.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<article class="publication-row" itemscope itemtype="http://schema.org/ScholarlyArticle">
  {% if teaser %}
    <div class="publication-row__teaser">
      <img
        src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}"
        alt=""
        loading="lazy">
    </div>
  {% endif %}

  <div class="publication-row__body">
    <h2 class="publication-row__title" itemprop="headline">{{ publication.title }}</h2>

    {% if publication.authors %}
      <p class="publication-row__authors" itemprop="author">{{ publication.authors }}</p>
    {% endif %}

    <p class="publication-row__venue">
      {% if publication.venue %}{{ publication.venue }}{% endif %}
      {% if publication.date %}{% if publication.venue %} {% endif %}{{ publication.date | date: "%Y" }}{% endif %}
      {% if publication.award %}, <span class="publication-row__award">{{ publication.award }}</span>{% endif %}
    </p>

    {% if publication.paperurl %}
      <p class="publication-row__links">
        <a href="{{ publication.paperurl }}">Paper</a>
      </p>
    {% endif %}
  </div>
</article>
